@import "./variables/myapp.scss";

body {
  margin: 0;
  display: flex;
  place-items: start;
  position: relative;
  background-color: #ececec;
}

#root {
  max-width: 4000px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 4000px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
}

.MessagePart {
  width: 50%;
  height: 50vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
}
